<section class="filters-container">
 <header class="filters-header">
     <button mat-icon-button class="close ripple" (click)="closeFilter()">
       <mat-icon class="material-icons">
         close
       </mat-icon>
     </button>
 </header>
    <div class="action-buttons">
        <div class="group-left">
            <button mat-button class="clear-button ripple" (click)="clearFilters()">Clear</button>
        </div>
        <div class="group-right">
            <button mat-button class="countries">Selected countries: 5</button>
            <button mat-raised-button class="apply-button ripple" [ngClass]="{'applied' : isApplied}" (click)="applyFilters()">Apply</button>
        </div>

    </div>
  <div class="filters-bar">
      <wp-filter *ngFor="let group of filterGroups" [group]="group"></wp-filter>
  </div>
</section>
